# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Databases
database/*.db
*.db


# Model files
ML/saved_model/*.pth

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/

# Environment variables
.env


dataset/
